html {
  scroll-behavior: smooth;
}

html,
body,
main,
#pre-overlay {
  height: 100%;
}

html,
body,
main,
#pre-overlay,
footer {
  width: 100%;
}

@font-face {
  font-family: "PokemonDSFont";
  src: url(pokemon-ds-font.ttf) format("truetype");
}

body {
  padding: 0;
}

body,
#fire-button-border,
#grass-button-border,
#water-button-border,
#round-and-stats {
  margin: 0;
}

body,
#pre-overlay,
#pre-overlay-text,
#pre-overlay-player-input-box,
#pre-overlay-rival-input-box {
  background-image: radial-gradient(
    circle at center,
    rgba(50, 50, 50, 1),
    rgba(0, 0, 0, 1)
  );
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

body,
input {
  color: rgba(255, 255, 255, 1);
  font-family: "PokemonDSFont", Arial, Helvetica, sans-serif;
}

#container,
#player-score,
#rival-score,
#round,
#post-game,
#stats,
#quote {
  flex-direction: column;
}

#pre-overlay-attribution-text,
#pre-overlay-name-text,
input,
#fire-title,
#grass-title,
#water-title,
#fire-button-text,
#grass-button-text,
#water-button-text,
#scores,
#player-pokémon-player-name,
#player-pokémon-name,
#rival-pokémon-rival-name,
#rival-pokémon-name,
#player-pokémon-attack-player-name,
#player-pokémon-attack-pokémon,
#player-pokémon-attack-pokémon-attack,
#rival-pokémon-attack-rival-name,
#rival-pokémon-attack-pokémon,
#rival-pokémon-attack-pokémon-attack,
#critical-hit,
#player-pokémon-attack-effectiveness-text,
#rival-pokémon-attack-effectiveness-text,
#round-result-player-name,
#round-result-player-pokémon,
#round-result-rival-name,
#round-result-rival-pokémon,
#round-result-round-result,
#faint-name,
#faint-pokémon,
#exp-name,
#exp-pokémon,
#exp-amount,
#rounds-won-won-text,
#rounds-won-colon,
#rounds-won-player-score,
#rounds-lost-lost-text,
#rounds-lost-colon,
#rounds-lost-rival-score,
#rounds-drawn-drawn-text,
#rounds-drawn-colon,
#rounds-drawn-rounds-drawn,
#win-percent,
#loss-percent,
#total-rounds-played-played-text,
#total-rounds-played-colon,
#total-rounds-played-total-rounds-played,
#total-win-percent-win-text,
#total-win-percent-pre-percent-sign,
#total-win-percent-colon,
#total-win-percent-total-win-percent,
#total-win-percent-post-percent-sign,
#total-loss-percent-loss-text,
#total-loss-percent-pre-percent-sign,
#total-loss-percent-colon,
#total-loss-percent-total-loss-percent,
#total-loss-percent-post-percent-sign,
#total-draw-percent-draw-text,
#total-draw-percent-pre-percent-sign,
#total-draw-percent-colon,
#total-draw-percent-total-draw-percent,
#total-draw-percent-post-percent-sign,
#game-result-player-name,
#game-result-result,
#game-result-rival-name,
#retry-button {
  font-weight: bold;
}

#pre-overlay,
#container,
#header,
#buttons,
img .pokémon-sprites,
#fire-button-text,
#grass-button-text,
#water-button-text,
#scores,
#player-score,
#rival-score,
#round,
#post-game,
#round-and-stats,
#stats,
#retry-button,
#quote,
footer {
  align-items: center;
  display: flex;
}

#pre-overlay,
#container,
#header,
#buttons,
img .pokémon-sprites,
#fire-button-text,
#grass-button-text,
#water-button-text,
#scores,
#player-score,
#rival-score,
#round,
#post-game,
#round-and-stats,
#stats,
#retry-button,
#quote {
  justify-content: center;
}

#pre-overlay {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#pre-overlay,
#round,
#stats,
#quote {
  text-align: center;
}

#pre-overlay-text {
  border-radius: 60px;
}

#pre-overlay-text,
#pre-overlay-player-input-box,
#pre-overlay-rival-input-box {
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 1);
  font-size: 72px;
  padding: 32px;
}

#pre-overlay-player-input-box,
#pre-overlay-rival-input-box {
  border-radius: 30px;
  caret-color: transparent;
  height: 100px;
  left: 50%;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  position: fixed;
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 4px 4px rgba(255, 100, 0, 1),
    4.5px 4.5px rgba(255, 100, 0, 1), 5px 5px rgba(255, 100, 0, 1);
  top: 65%;
  transform: translate(-50%, -50%);
  width: 600px;
}

#pre-overlay-player-input-box {
  border-color: rgba(100, 100, 170, 1);
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 4px 4px rgba(89, 97, 173, 1),
    4.5px 4.5px rgba(89, 97, 173, 1), 5px 5px rgba(89, 97, 173, 1);
}

#pre-overlay-rival-input-box {
  border-color: rgba(170, 100, 100, 1);
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 4px 4px rgba(176, 89, 89, 1),
    4.5px 4.5px rgba(176, 89, 89, 1), 5px 5px rgba(176, 89, 89, 1);
}

#pre-overlay-player-input-box:focus,
#pre-overlay-rival-input-box:focus {
  filter: brightness(1.05);
  outline: none;
}

#header {
  font-size: 50px;
  gap: 24px;
  padding-bottom: 64px;
  padding-top: 32px;
}

#fire-title {
  text-shadow: 0px 8px rgba(128, 64, 0, 1), 0px 16px rgba(64, 32, 0, 1),
    0px 24px rgba(32, 16, 0, 1);
}

#fire-title .FI {
  letter-spacing: -5.5px;
}

#fire-title,
#fire-button-text,
#pre-overlay-fire-pokémon-text {
  color: rgba(255, 128, 0, 1);
}

#fire-title,
#grass-title,
#water-title {
  margin: 0px;
}

#fire-title,
#grass-title,
#water-title,
#fire-button-text,
#grass-button-text,
#water-button-text,
#scores,
#critical-hit {
  letter-spacing: 0.7px;
}

#grass-title {
  text-shadow: 0px 8px rgba(64, 128, 0, 1), 0px 16px rgba(32, 64, 0, 1),
    0px 22px rgba(16, 32, 0, 1);
}

#grass-title,
#grass-button-text,
#pre-overlay-grass-pokémon-text {
  color: rgba(128, 255, 0, 1);
}

#water-title {
  text-shadow: 0px 8px rgba(0, 64, 128, 1), 0px 16px rgba(0, 32, 64, 1),
    0px 22px rgba(0, 16, 32, 1);
}

#water-title,
#water-button-text,
#pre-overlay-water-pokémon-text {
  color: rgba(0, 128, 255, 1);
}

#buttons {
  gap: 40px;
}

#fire-button-border,
#grass-button-border,
#water-button-border {
  flex-direction: row;
  height: 300px;
  width: 300px;
}

#fire-button-border,
#grass-button-border,
#water-button-border,
#round,
#stats,
#retry-button {
  background-image: radial-gradient(
    circle at center,
    rgba(100, 100, 100, 1),
    rgba(20, 20, 20, 1)
  );
  border-color: rgba(255, 255, 255, 0.03);
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.75s;
}

#fire-button-border,
#grass-button-border,
#water-button-border,
#round,
#stats {
  padding: 16px;
}

#fire-button-border:hover {
  box-shadow: 0px 0px 40px 5px rgba(255, 0, 0, 1);
}

#grass-button-border:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 255, 0, 1);
}

#water-button-border:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 255, 1);
}

#fire-button-border:hover,
#grass-button-border:hover,
#water-button-border:hover,
#round:hover,
#stats:hover,
#retry-button:hover {
  filter: brightness(1.025);
  transform: scale(1.05);
}

#fire-button-border:hover,
#grass-button-border:hover,
#water-button-border:hover,
img #retry-button {
  cursor: pointer;
}

.pokémon-sprites {
  height: 90%;
  width: 90%;
}

#fire-button-text,
#grass-button-text,
#water-button-text {
  font-size: 64px;
  padding-bottom: 32px;
  padding-top: 32px;
}

#fire-button-text {
  text-shadow: 0px 6px rgba(128, 64, 0, 1), 0px 12px rgba(64, 32, 0, 1),
    0px 18px rgba(32, 16, 0, 1);
}

#grass-button-text {
  text-shadow: 0px 6px rgba(64, 128, 0, 1), 0px 12px rgba(32, 64, 0, 1),
    0px 18px rgba(16, 32, 0, 1);
}

#water-button-text {
  text-shadow: 0px 6px rgba(0, 64, 128, 1), 0px 12px rgba(0, 32, 64, 1),
    0px 18px rgba(0, 16, 32, 1);
}

#water-button-text .S {
  letter-spacing: 1px;
}

#water-button-text .UI {
  letter-spacing: -2px;
}

#scores {
  font-size: 50px;
  gap: 50px;
  padding-bottom: 32px;
}

#player-score,
#rival-score {
  gap: 16px;
}

#player-score-name,
#player-score-score {
  text-shadow: 0px 3px rgba(50, 50, 85, 1), 0px 6px rgba(25, 25, 43, 1),
    0px 9px rgba(13, 13, 22, 1);
}

#rival-score-name,
#rival-score-score {
  text-shadow: 0px 3px rgba(85, 50, 50, 1), 0px 6px rgba(43, 25, 25, 1),
    0px 9px rgba(22, 13, 13, 1);
}

#player-score-name,
#player-score-score,
#player-pokémon-player-name,
#player-pokémon-attack-player-name,
#round-result-player-name,
#game-result-player-name {
  color: rgba(100, 100, 170, 1);
}

#rival-score-name,
#rival-score-score,
#rival-pokémon-rival-name,
#rival-pokémon-attack-rival-name,
#round-result-rival-name,
#game-result-rival-name {
  color: rgba(170, 100, 100, 1);
}

#round,
#stats {
  gap: 15px;
  font-size: 50px;
  margin-bottom: 32px;
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 4px 4px rgba(86, 73, 92, 1),
    4.5px 4.5px rgba(86, 73, 92, 1), 5px 5px rgba(86, 73, 92, 1);
}

#critical-hit {
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 4px 4px rgba(255, 255, 0, 1),
    4.5px 4.5px rgba(255, 255, 0, 1), 5px 5px rgba(255, 255, 0, 1);
}

#exp-amount {
  color: rgba(128, 0, 255, 1);
}

#critical-hit,
#rounds-lost-lost-text,
#rounds-lost-colon,
#rounds-lost-rival-score,
#loss-percent-loss-text,
#loss-percent-colon,
#loss-percent-loss-percent,
#total-loss-percent-loss-text,
#total-loss-percent-colon,
#total-loss-percent-total-loss-percent {
  color: rgba(255, 0, 0, 1);
}

#rounds-won-won-text,
#rounds-won-colon,
#rounds-won-player-score,
#win-percent-win-text,
#win-percent-colon,
#win-percent-win-percent,
#total-win-percent-win-text,
#total-win-percent-colon,
#total-win-percent-total-win-percent {
  color: rgba(0, 255, 0, 1);
}

#win-percent-pre-percent-sign,
#win-percent-post-percent-sign,
#total-win-percent-pre-percent-sign,
#total-win-percent-post-percent-sign {
  color: rgba(0, 64, 0, 1);
}

#loss-percent-pre-percent-sign,
#loss-percent-post-percent-sign,
#total-loss-percent-pre-percent-sign,
#total-loss-percent-post-percent-sign {
  color: rgba(64, 0, 0, 1);
}

#rounds-drawn-drawn-text,
#rounds-drawn-colon,
#rounds-drawn-rounds-drawn,
#total-draw-percent-draw-text,
#total-draw-percent-colon,
#total-draw-percent-total-draw-percent {
  color: rgba(0, 0, 255, 1);
}

#total-draw-percent-pre-percent-sign,
#total-draw-percent-post-percent-sign {
  color: rgba(0, 0, 64, 1);
}

#round-and-stats {
  gap: 50px;
  justify-content: space-between;
}

#game-result {
  font-size: 100px;
  margin-bottom: 32px;
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 6px 6px rgba(86, 73, 92, 1);
}

#retry-button {
  height: 100px;
  padding-bottom: 28px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 350px;
}

#retry-button-text {
  color: rgba(255, 0, 255, 1);
  font-size: 100px;
  text-shadow: 0px 5px rgba(128, 0, 128, 1), 0px 10px rgba(64, 0, 64, 1),
    0px 15px rgba(32, 0, 32, 1), 0px 20px rgba(16, 0, 16, 1);
}

#retry-button-ain-text {
  letter-spacing: -5px;
}

#quote {
  color: rgba(12, 12, 12, 1);
  gap: 12px;
  letter-spacing: -1.5px;
  padding-bottom: 32px;
  padding-top: 32px;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}

#quote-quote {
  font-size: 28px;
  max-width: 400px;
}

#quote-attribution {
  font-size: 24px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

#github-logo {
  filter: invert(3%);
  height: 24.5px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 6px;
  padding-top: 0px;
  width: 24px;
}
