html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "PokemonDSFont";
    src: url(pokemon-ds-font.ttf) format("truetype");
}

body {
    background: radial-gradient(circle, rgb(50, 50, 50) 0%, rgb(25, 25, 25) 100%);
    color: rgb(255, 255, 255);
    font-family: "PokemonDSFont", Arial, Helvetica, sans-serif;
}

#title-fire,
#title-grass,
#title-water,
#flavour-text,
#fire-button-text,
#grass-button-text,
#water-button-text,
#players,
#scores {
    font-weight: bold;
}

#header {
    align-items: center;
    display: flex;
    font-size: 50px;
    gap: 24px;
    justify-content: center;
}

#title-fire {
    text-shadow: 0px 10px rgb(50, 0, 0), 0px 15px rgb(25, 0, 0), 0px 20px rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

#title-grass {
    text-shadow: 0px 10px rgb(0, 50, 0), 0px 15px rgb(0, 25, 0), 0px 20px rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}

#title-water {
    text-shadow: 0px 10px rgb(0, 0, 50), 0px 15px rgb(0, 0, 25), 0px 20px rgb(0, 0, 0);
    color: rgb(0, 0, 255);
}

#flavour-text {
    align-items: center;
    display: flex;
    font-size: 36px;
    justify-content: center;
    margin: 96px 0px;
    text-shadow: 0px 3px rgb(100, 100, 100), 0px 6px rgb(50, 50, 50), 0px 9px rgb(25, 25, 25);
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 128px;
}

#button-border-fire,
#button-border-grass,
#button-border-water {
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;   
    height: 400px;
}

#button-text-fire,
#button-text-grass,
#button-text-water {
    align-items: center;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin: 36px;
}

#button-text-fire {
    text-shadow: 0px 10px rgb(50, 0, 0), 0px 15px rgb(25, 0, 0), 0px 20px rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

#button-text-grass {
    text-shadow: 0px 10px rgb(0, 50, 0), 0px 15px rgb(0, 25, 0), 0px 20px rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}

#button-text-water {
    text-shadow: 0px 10px rgb(0, 0, 50), 0px 15px rgb(0, 0, 25), 0px 20px rgb(0, 0, 0);
    color: rgb(0, 0, 255);
}

#round-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
}

#players {
}

#players,
#scores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 128px;
}

#quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}